@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneySemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansNormal.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansBold.otf") format("opentype");
  font-weight: 600;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scale-down {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes fade-outAlt {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-outAlt {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-outAlt {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scale-downAlt {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  34% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  51% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-downAlt {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  34% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  51% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-downAlt {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  34% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  51% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 5, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_subtitles.scss */
::cue {
  background: none;
  text-shadow: #000000 0 0 20px;
}

/* line 6, ../sass/_subtitles.scss */
::-webkit-media-text-track-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 25px solid transparent;
}

/* line 11, ../sass/_subtitles.scss */
::-webkit-media-text-track-display {
  color: #ffffff;
  font-size: 40px;
}

/* line 10, ../sass/global.scss */
.touch * {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 18, ../sass/global.scss */
html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 24, ../sass/global.scss */
body {
  -webkit-font-feature-settings: 'ss17' 1;
  font-feature-settings: 'ss17' 1;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-weight: 400;
  background-color: #999999;
  color: #ffffff;
}
/* line 29, ../sass/global.scss */
body #preload {
  position: absolute;
  left: -9999999px;
}
/* line 34, ../sass/global.scss */
body .fancybox-container {
  width: 1920px;
  top: 45px;
  height: 1035px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 46, ../sass/global.scss */
body, body *, body ::cue {
  font-family: 'Whitney', Helvetica, Arial, sans-serif;
  outline: none;
}
/* line 51, ../sass/global.scss */
body i {
  font-style: italic;
}
/* line 62, ../sass/global.scss */
body #root {
  position: relative;
  background-color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 77, ../sass/global.scss */
body #root button {
  background-color: transparent;
  border: none;
  cursor: hand;
  cursor: pointer;
}
/* line 26, ../sass/_mixins.scss */
body #root button.highlight, .touch body #root button:active, .no-touch body #root button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 83, ../sass/global.scss */
body #root .photocredit,
body #root .caption {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}
/* line 91, ../sass/global.scss */
body #root #languages {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  clear: both;
}
/* line 97, ../sass/global.scss */
body #root #languages li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: hand;
  cursor: pointer;
  float: right;
  height: 45px;
  border-left: 1px solid #ffffff;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 14px;
  color: #009cde;
  font-weight: 500;
  font-family: 'Whitney Condensed';
}
/* line 26, ../sass/_mixins.scss */
body #root #languages li.highlight, .touch body #root #languages li:active, .no-touch body #root #languages li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 117, ../sass/global.scss */
body #root #languages li#cn {
  font-family: 'HanSans';
}
/* line 121, ../sass/global.scss */
body #root #languages li.active {
  font-weight: 600;
  color: #ffffff;
  pointer-events: none;
}
/* line 129, ../sass/global.scss */
body #root #close {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999999;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  width: 160px;
  height: 120px;
  background-color: transparent;
  border: none;
  background-image: url("../images/icons/close-white.svg");
  background-repeat: no-repeat;
  background-position: 50px 30px;
  -moz-background-size: 60px 60px;
  -o-background-size: 60px 60px;
  -webkit-background-size: 60px 60px;
  background-size: 60px 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  cursor: hand;
  cursor: pointer;
}
/* line 156, ../sass/global.scss */
.content-open body #root #close {
  -moz-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  pointer-events: all;
}
/* line 16, ../sass/_mixins.scss */
body #root #close.highlight, .content-open.touch body #root #close:active, .content-open.no-touch body #root #close:hover {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 167, ../sass/global.scss */
.behind-active body #root #close {
  background-image: url("../images/icons/close-blue.svg");
}
/* line 171, ../sass/global.scss */
.media body #root #close {
  background-image: url("../images/icons/close-white.svg");
}
/* line 176, ../sass/global.scss */
body #root #media-overlay {
  display: none;
  position: absolute;
  z-index: 9999998;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
/* line 187, ../sass/global.scss */
body #root #media-overlay video, body #root #media-overlay iframe, body #root #media-overlay img {
  -moz-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  height: 100%;
}
/* line 193, ../sass/global.scss */
.media body #root #media-overlay {
  display: block;
}
/* line 198, ../sass/global.scss */
body #root:after {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 216, ../sass/global.scss */
.content-open.wall-active body #root:after {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 222, ../sass/global.scss */
body #root section {
  -moz-transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-box-shadow: 0 0 10px transparent;
  -webkit-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
  position: relative;
  z-index: 3;
  background-color: #009cde;
  margin: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 224, ../sass/global.scss */
.attract body #root section#wall {
  -moz-animation: fade-outAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-downAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  -webkit-animation: fade-outAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-downAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: fade-outAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-downAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
/* line 230, ../sass/global.scss */
.attract body #root section#behind {
  -moz-animation: fade-out 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-down 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  -webkit-animation: fade-out 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-down 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: fade-out 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-down 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
/* line 238, ../sass/global.scss */
.expanding body #root section, .media body #root section {
  pointer-events: none;
}
/* line 250, ../sass/global.scss */
body #root section.highlight {
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
/* line 253, ../sass/global.scss */
body #root section.highlight#wall.subnav-open {
  -moz-box-shadow: 0 0 10px transparent;
  -webkit-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
}
/* line 270, ../sass/global.scss */
body #root section header h1, body #root section header h2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
}
/* line 276, ../sass/global.scss */
body #root section header h1 {
  font-family: 'Whitney Narrow';
  font-size: 80px;
  line-height: 60px;
}
/* line 279, ../sass/global.scss */
body #root section header h2 {
  font-size: 30px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 286, ../sass/global.scss */
body #root section header ul {
  text-align: center;
}
/* line 289, ../sass/global.scss */
body #root section header ul li {
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  height: 50px;
  min-width: 300px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  border: 3px solid #ffffff;
  margin-right: 20px;
}
/* line 26, ../sass/_mixins.scss */
body #root section header ul li.highlight, .touch body #root section header ul li:active, .no-touch body #root section header ul li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 293, ../sass/global.scss */
body #root section header ul li.active {
  pointer-events: none;
  background-color: #ffffff;
  color: #009cde;
}
/* line 298, ../sass/global.scss */
body #root section header ul li.active.imposter {
  pointer-events: all;
}
/* line 301, ../sass/global.scss */
.spot-the-imposter body #root section header ul li.active.imposter {
  pointer-events: none;
}
/* line 309, ../sass/global.scss */
body #root section header ul li:last-child {
  margin-right: 0;
}
/* line 314, ../sass/global.scss */
body #root section header ul.nav-collapsed {
  display: none;
}
/* line 317, ../sass/global.scss */
body #root section header ul.nav-collapsed li {
  min-width: inherit;
}
/* line 325, ../sass/global.scss */
body #root section.collapsed .index-column {
  width: 50%;
  float: left;
}
/* line 329, ../sass/global.scss */
body #root section.collapsed .index-column .nav-collapsed {
  padding-left: 50px;
  text-align: left;
}
/* line 336, ../sass/global.scss */
body #root section.collapsed header ul {
  display: none;
}
/* line 339, ../sass/global.scss */
body #root section.collapsed header ul.nav-collapsed {
  display: block;
}
/* line 345, ../sass/global.scss */
body #root section.collapsed header #map .thumbnails {
  display: block;
}
/* line 352, ../sass/global.scss */
body #root section .content {
  display: none;
}
/* line 355, ../sass/global.scss */
body #root section .content .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
  overflow: hidden;
}
/* line 365, ../sass/global.scss */
body #root section .content .container h1 {
  color: #009cde;
  font-family: 'Whitney Narrow';
  font-size: 80px;
  line-height: 60px;
  line-height: 82px;
}
/* line 369, ../sass/global.scss */
body #root section .content .container h2 {
  font-weight: 600;
  font-size: 22px;
}
/* line 374, ../sass/global.scss */
body #root section .content .container h1, body #root section .content .container h2 {
  margin-bottom: 30px;
}
/* line 381, ../sass/global.scss */
body #root section.open .content {
  display: none;
}
/* line 386, ../sass/global.scss */
body #root section.open.subnav-open .content {
  display: block;
  -moz-animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 394, ../sass/global.scss */
body #root section .bx-controls .bx-pager {
  width: 1820px;
  bottom: 40px;
  pointer-events: none;
  z-index: 2;
}
/* line 402, ../sass/global.scss */
body #root section .bx-controls .bx-pager div a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.25);
}
/* line 406, ../sass/global.scss */
body #root section .bx-controls .bx-pager div a.active {
  background: rgba(0, 0, 0, 0.75);
}
/* line 414, ../sass/global.scss */
body #root section .carousel-buttons {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}
/* line 426, ../sass/global.scss */
body #root section .carousel-buttons > div a {
  cursor: hand;
  cursor: pointer;
  pointer-events: all;
  margin: 0;
  padding: 0;
  display: table;
  color: #003a70;
  text-decoration: none;
  font-size: 24px;
  height: 86px;
  background-repeat: no-repeat;
  -moz-background-size: 43px 43px;
  -o-background-size: 43px 43px;
  -webkit-background-size: 43px 43px;
  background-size: 43px 43px;
}
/* line 26, ../sass/_mixins.scss */
body #root section .carousel-buttons > div a.highlight, .touch body #root section .carousel-buttons > div a:active, .no-touch body #root section .carousel-buttons > div a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 441, ../sass/global.scss */
body #root section .carousel-buttons > div a div {
  display: table-cell;
  vertical-align: middle;
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 448, ../sass/global.scss */
body #root section .carousel-buttons > div.prev {
  float: left;
}
/* line 451, ../sass/global.scss */
body #root section .carousel-buttons > div.prev a {
  padding-left: 58px;
  padding-right: 25px;
  background-image: url("../images/icons/previous-blue.png");
  background-position: center left;
}
/* line 458, ../sass/global.scss */
body #root section .carousel-buttons > div.next {
  float: right;
}
/* line 461, ../sass/global.scss */
body #root section .carousel-buttons > div.next a {
  padding-right: 58px;
  padding-left: 25px;
  background-image: url("../images/icons/next-blue.png");
  background-position: center right;
}
/* line 471, ../sass/global.scss */
body #root section#wall {
  				/*
  				header {
  					h1,
  					nav #map,
  					nav ul {
  						will-change: transform;
  						@include transform(translateZ(0));
  
  						@include transition(
  							transform .5s $easing
  						);
  					}
  				}
  				*/
}
/* line 473, ../sass/global.scss */
body #root section#wall header h2 {
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 477, ../sass/global.scss */
body #root section#wall header #map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 1700px;
  height: 330px;
  background-image: url("../images/grid.svg");
  background-repeat: no-repeat;
  -moz-background-size: 1700px 330px;
  -o-background-size: 1700px 330px;
  -webkit-background-size: 1700px 330px;
  background-size: 1700px 330px;
}
/* line 492, ../sass/global.scss */
body #root section#wall header #map ul {
  list-style: none;
  position: relative;
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 502, ../sass/global.scss */
.spot-the-imposter body #root section#wall header #map ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 507, ../sass/global.scss */
body #root section#wall header #map ul li {
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -o-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  min-width: inherit;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background-color: #003a70;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
/* line 517, ../sass/global.scss */
body #root section#wall header #map ul li.show {
  pointer-events: all;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  cursor: hand;
  cursor: pointer;
}
/* line 37, ../sass/_mixins.scss */
body #root section#wall header #map ul li.show.highlight, .no-touch body #root section#wall header #map ul li.show:hover {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 535, ../sass/global.scss */
body #root section#wall header #map ul li, body #root section#wall header #map ul li label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
/* line 546, ../sass/global.scss */
body #root section#wall header #map ul li label {
  background-color: #ffffff;
  color: #003a70;
  font-weight: 500;
  line-height: 49px;
  pointer-events: none;
  -moz-animation: fade-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
}
/* line 557, ../sass/global.scss */
body #root section#wall header #map ul li.active {
  pointer-events: none;
}
/* line 560, ../sass/global.scss */
body #root section#wall header #map ul li.active label {
  display: block;
}
/* line 565, ../sass/global.scss */
.behind-active body #root section#wall header #map ul li {
  pointer-events: none;
}
/* line 588, ../sass/global.scss */
.shrink-wall body #root section#wall {
  height: 250px;
}
/* line 589, ../sass/global.scss */
.shrink-wall body #root section#wall header {
  overflow: hidden;
}
/* line 593, ../sass/global.scss */
.shrink-wall body #root section#wall header nav #map {
  -moz-transform: scale(0.52) translateX(-47%) translateY(-75%);
  -ms-transform: scale(0.52) translateX(-47%) translateY(-75%);
  -webkit-transform: scale(0.52) translateX(-47%) translateY(-75%);
  transform: scale(0.52) translateX(-47%) translateY(-75%);
}
/* line 596, ../sass/global.scss */
.shrink-wall body #root section#wall header nav ul {
  -moz-transform: translateY(-535%);
  -ms-transform: translateY(-535%);
  -webkit-transform: translateY(-535%);
  transform: translateY(-535%);
}
/* line 605, ../sass/global.scss */
body #root section#wall.open.subnav-open {
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  background-color: transparent;
}
/* line 609, ../sass/global.scss */
body #root section#wall.open.subnav-open header h1 {
  -moz-transform: scale(0.5) translateY(-40%);
  -ms-transform: scale(0.5) translateY(-40%);
  -webkit-transform: scale(0.5) translateY(-40%);
  transform: scale(0.5) translateY(-40%);
  padding: 0;
  text-align: center;
}
/* line 614, ../sass/global.scss */
body #root section#wall.open.subnav-open header h2 {
  display: none;
}
/* line 618, ../sass/global.scss */
body #root section#wall.open.subnav-open header nav #map {
  -moz-transform: scale(0.5) translateY(-95%);
  -ms-transform: scale(0.5) translateY(-95%);
  -webkit-transform: scale(0.5) translateY(-95%);
  transform: scale(0.5) translateY(-95%);
}
/* line 621, ../sass/global.scss */
body #root section#wall.open.subnav-open header nav ul {
  -moz-transform: translateY(-530%);
  -ms-transform: translateY(-530%);
  -webkit-transform: translateY(-530%);
  transform: translateY(-530%);
}
/* line 629, ../sass/global.scss */
body #root section#wall.open.subnav-open .content {
  -moz-transform: translateY(-37%);
  -ms-transform: translateY(-37%);
  -webkit-transform: translateY(-37%);
  transform: translateY(-37%);
}
/* line 634, ../sass/global.scss */
body #root section#wall .content {
  position: absolute;
  width: 1920px;
  left: -50px;
}
/* line 639, ../sass/global.scss */
body #root section#wall .content .carousel-buttons {
  padding: 70px;
  padding-bottom: 5px;
}
/* line 644, ../sass/global.scss */
body #root section#wall .content .bx-wrapper {
  left: 50px;
}
/* line 648, ../sass/global.scss */
body #root section#wall .content .bx-clone {
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 652, ../sass/global.scss */
body #root section#wall .content .container {
  height: 625px;
  padding: 45px;
  position: relative;
}
/* line 657, ../sass/global.scss */
body #root section#wall .content .container .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333%;
  float: left;
}
/* line 662, ../sass/global.scss */
body #root section#wall .content .container .col.description {
  padding-right: 60px;
}
/* line 665, ../sass/global.scss */
body #root section#wall .content .container .col.data {
  padding-left: 60px;
}
/* line 669, ../sass/global.scss */
body #root section#wall .content .container .col > img {
  display: none;
}
/* line 674, ../sass/global.scss */
body #root section#wall .content .container .col .image {
  pointer-events: none;
  display: block;
  position: relative;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 495px;
}
/* line 684, ../sass/global.scss */
body #root section#wall .content .container .col .image img {
  visibility: hidden;
  z-index: 1;
}
/* line 689, ../sass/global.scss */
body #root section#wall .content .container .col .image button {
  pointer-events: all;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 63px;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("../images/icons/expand.png");
  background-repeat: no-repeat;
  -moz-background-size: 43px 43px;
  -o-background-size: 43px 43px;
  -webkit-background-size: 43px 43px;
  background-size: 43px 43px;
  background-position: center;
  padding: 10px;
}
/* line 713, ../sass/global.scss */
body #root section#wall .content .container .col.data li {
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}
/* line 719, ../sass/global.scss */
body #root section#wall .content .container .col.data li h3 {
  font-weight: 600;
  color: #003a70;
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 10px;
  margin-bottom: 10px;
}
/* line 726, ../sass/global.scss */
body #root section#wall .content .container .col.data li h3:after {
  content: ':';
}
/* line 735, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.title {
  width: 30%;
}
/* line 738, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.title h1 {
  font-family: 'Whitney Narrow';
  font-size: 80px;
  line-height: 60px;
  line-height: 82px;
}
/* line 742, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body {
  width: 60%;
}
/* line 745, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body p {
  font-size: 30px;
  line-height: 22px;
  line-height: 36px;
}
/* line 749, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body ul {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}
/* line 755, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: hand;
  cursor: pointer;
  padding-right: 20px;
  float: left;
  width: 25%;
}
/* line 26, ../sass/_mixins.scss */
body #root section#wall .content .container.imposter .col.body ul li.highlight, .touch body #root section#wall .content .container.imposter .col.body ul li:active, .no-touch body #root section#wall .content .container.imposter .col.body ul li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 762, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body ul li label {
  display: none;
}
/* line 768, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body .small {
  font-size: 22px;
  text-align: center;
}
/* line 775, ../sass/global.scss */
body #root section#wall .content .container:after {
  pointer-events: none;
  position: absolute;
  content: '';
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 798, ../sass/global.scss */
body #root section#wall .content .inactive-slide {
  pointer-events: none;
}
/* line 801, ../sass/global.scss */
body #root section#wall .content .inactive-slide .container:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 810, ../sass/global.scss */
body #root section#behind {
  overflow: hidden;
}
/* line 815, ../sass/global.scss */
body #root section#behind header nav .thumbnails {
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  overflow: hidden;
}
/* line 821, ../sass/global.scss */
body #root section#behind header nav .thumbnails li {
  background-color: #ffffff;
  display: block;
  border: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  width: calc((100% - 250px) / 4);
  height: 420px;
  overflow: hidden;
}
/* line 841, ../sass/global.scss */
body #root section#behind header nav .thumbnails li .img-container {
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 280px;
}
/* line 848, ../sass/global.scss */
body #root section#behind header nav .thumbnails li .img-container img {
  display: none;
}
/* line 853, ../sass/global.scss */
body #root section#behind header nav .thumbnails li h3 {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  width: 75%;
  text-align: left;
  color: #003a70;
  font-size: 30px;
  line-height: 22px;
  line-height: 36px;
  font-weight: 400;
}
/* line 870, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails {
  display: block;
}
/* line 873, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li {
  margin-left: 22px;
  min-width: inherit;
  height: inherit;
  padding: 3px;
  width: 196px;
}
/* line 876, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li:first-child {
  margin-left: 0;
}
/* line 888, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li .img-container {
  width: 190px;
  height: 190px;
}
/* line 893, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li h3 {
  display: none;
}
/* line 898, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li.stranding-network .img-container {
  background-position: right center;
}
/* line 906, ../sass/global.scss */
body #root section#behind .carousel-buttons {
  padding: 50px;
  padding-bottom: 25px;
}
/* line 912, ../sass/global.scss */
body #root section#behind.open .thumbnails li {
  pointer-events: all;
}
/* line 916, ../sass/global.scss */
body #root section#behind.open.subnav-open {
  position: static;
}
/* line 921, ../sass/global.scss */
.wall-active.content-open body #root section#behind {
  display: none;
}
/* line 925, ../sass/global.scss */
body #root section#behind .content {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 45px;
  bottom: 0;
  right: 0;
  padding-top: 120px;
}
/* line 937, ../sass/global.scss */
body #root section#behind .content .flex-control-paging,
body #root section#behind .content .bx-pager {
  display: none;
}
/* line 942, ../sass/global.scss */
body #root section#behind .content .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 0;
  height: 900px;
}
/* line 948, ../sass/global.scss */
body #root section#behind .content .container .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 953, ../sass/global.scss */
body #root section#behind .content .container .col.info {
  padding-right: 140px;
}
/* line 956, ../sass/global.scss */
body #root section#behind .content .container .col.info h2 {
  color: #325c7c;
  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
  line-height: 36px;
  margin-bottom: 60px;
}
/* line 962, ../sass/global.scss */
body #root section#behind .content .container .col.info p {
  font-weight: 400;
  margin-bottom: 30px;
}
/* line 969, ../sass/global.scss */
body #root section#behind .content .container .col,
body #root section#behind .content .container .col .photocredit,
body #root section#behind .content .container .col .model-button-container,
body #root section#behind .content .container .col button,
body #root section#behind .content .container .col video {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 977, ../sass/global.scss */
body #root section#behind .content .container .col.image {
  height: calc(100% - 100px);
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: visible;
}
/* line 987, ../sass/global.scss */
body #root section#behind .content .container .col.image .photocredit {
  position: absolute;
  bottom: -28px;
}
/* line 992, ../sass/global.scss */
body #root section#behind .content .container .col.image img {
  display: none;
}
/* line 996, ../sass/global.scss */
body #root section#behind .content .container .col.image button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 160px;
  height: 160px;
  background-image: url("../images/icons/play.svg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  z-index: 2;
}
/* line 1010, ../sass/global.scss */
body #root section#behind .content .container .col.image.video {
  height: 660px;
  overflow: hidden;
}
/* line 1015, ../sass/global.scss */
body #root section#behind .content .container .col.image.video video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
/* line 1026, ../sass/global.scss */
body #root section#behind .content .container .col.image.video button {
  pointer-events: all;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  cursor: hand;
  cursor: pointer;
}
/* line 26, ../sass/_mixins.scss */
body #root section#behind .content .container .col.image.video button.highlight, .touch body #root section#behind .content .container .col.image.video button:active, .no-touch body #root section#behind .content .container .col.image.video button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 1033, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator {
  z-index: 3;
  position: absolute;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  top: 20px;
  right: 20px;
}
/* line 1041, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
  height: 50px;
}
/* line 1047, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg circle {
  fill: none;
}
/* line 1050, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg circle.progress {
  stroke: #ffffff;
  stroke-width: 6;
}
/* line 1054, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg circle.bg {
  stroke: #000000;
  stroke-width: 2;
}
/* line 1062, ../sass/global.scss */
body #root section#behind .content .container .col.image.video video,
body #root section#behind .content .container .col.image.video .progress-indicator {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1068, ../sass/global.scss */
.video-playing body #root section#behind .content .container .col.image.video video,
.video-playing body #root section#behind .content .container .col.image.video .progress-indicator,
.video-playing body #root section#behind .content .container .col.image.video button {
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.3s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}
/* line 1076, ../sass/global.scss */
.video-playing body #root section#behind .content .container .col.image.video video,
.video-playing body #root section#behind .content .container .col.image.video .progress-indicator {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 1081, ../sass/global.scss */
.video-playing body #root section#behind .content .container .col.image.video button {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1089, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container {
  position: absolute;
  bottom: 150px;
  width: 50%;
}
/* line 1094, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container img, body #root section#behind .content .container .col .model-button-container button {
  float: left;
}
/* line 1098, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container img {
  width: 100px;
  height: 50px;
}
/* line 1103, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container button {
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  height: 50px;
  min-width: 300px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #003a70;
  border: 3px solid #003a70;
  margin-left: 20px;
}
/* line 26, ../sass/_mixins.scss */
body #root section#behind .content .container .col .model-button-container button.highlight, .touch body #root section#behind .content .container .col .model-button-container button:active, .no-touch body #root section#behind .content .container .col .model-button-container button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 1117, ../sass/global.scss */
body #loading {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #434244;
}
/* line 1128, ../sass/global.scss */
body #loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
}
/* line 1139, ../sass/global.scss */
body #root {
  display: none;
}
/* line 1144, ../sass/global.scss */
.loaded body #loading {
  display: none;
}
/* line 1148, ../sass/global.scss */
.loaded body #root {
  display: block;
}
/* line 1154, ../sass/global.scss */
body .en, body .cn, body .tl, body .es {
  display: none !important;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 1161, ../sass/global.scss */
html[lang="en"] body .en {
  display: block !important;
}
/* line 1166, ../sass/global.scss */
html[lang="en"] body .carousel-buttons .en {
  display: table-cell !important;
}
/* line 1161, ../sass/global.scss */
html[lang="cn"] body .cn {
  display: block !important;
}
/* line 1166, ../sass/global.scss */
html[lang="cn"] body .carousel-buttons .cn {
  display: table-cell !important;
}
/* line 1161, ../sass/global.scss */
html[lang="tl"] body .tl {
  display: block !important;
}
/* line 1166, ../sass/global.scss */
html[lang="tl"] body .carousel-buttons .tl {
  display: table-cell !important;
}
/* line 1161, ../sass/global.scss */
html[lang="es"] body .es {
  display: block !important;
}
/* line 1166, ../sass/global.scss */
html[lang="es"] body .carousel-buttons .es {
  display: table-cell !important;
}
