@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneySemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansNormal.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansBold.otf") format("opentype");
  font-weight: 600;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scale-down {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes fade-outAlt {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-outAlt {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-outAlt {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scale-downAlt {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  34% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  51% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-downAlt {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  34% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  51% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-downAlt {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  34% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  51% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  75% {
    -moz-transform: scale(0.985);
    -ms-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 5, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/global.scss */
.touch * {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 17, ../sass/global.scss */
html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 23, ../sass/global.scss */
body {
  -webkit-font-feature-settings: 'ss17' 1, 'onum' 1;
  font-feature-settings: 'ss17' 1, 'onum' 1;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-weight: 400;
  background-color: #434244;
  color: #ffffff;
}
/* line 28, ../sass/global.scss */
body #preload {
  position: absolute;
  left: -9999999px;
}
/* line 32, ../sass/global.scss */
body #preload .medium {
  font-weight: 500;
}
/* line 35, ../sass/global.scss */
body #preload .semibold {
  font-weight: 600;
}
/* line 40, ../sass/global.scss */
body .fancybox-container {
  width: 1920px;
  top: 45px;
  height: 1035px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 52, ../sass/global.scss */
body, body *, body ::cue {
  font-family: 'Whitney', Helvetica, Arial, sans-serif;
  outline: none;
}
/* line 57, ../sass/global.scss */
body #preload div, html[lang="cn"] body ::cue,
body .cn,
body .cn * {
  font-family: 'HanSans', Helvetica, Arial, sans-serif;
}
/* line 64, ../sass/global.scss */
body i,
body em {
  font-style: italic;
}
/* line 76, ../sass/global.scss */
body #root {
  position: relative;
  background-color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 91, ../sass/global.scss */
body #root button {
  background-color: transparent;
  border: none;
  cursor: hand;
  cursor: pointer;
}
/* line 26, ../sass/_mixins.scss */
body #root button.highlight, .touch body #root button:active, .no-touch body #root button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 97, ../sass/global.scss */
body #root .photocredit,
body #root .caption {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}
/* line 1, ../sass/_nav.scss */
body #root #languages {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  clear: both;
  line-height: 1;
  letter-spacing: 1.25px;
}
/* line 12, ../sass/_nav.scss */
body #root #languages, body #root #languages li, body #root #languages span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
}
/* line 17, ../sass/_nav.scss */
body #root #languages li {
  float: right;
  width: 209px;
  border-left: 1px solid #ffffff;
  text-transform: uppercase;
  color: #009cde;
}
/* line 25, ../sass/_nav.scss */
body #root #languages li span {
  cursor: hand;
  cursor: pointer;
  display: block;
  text-align: center;
  padding-top: 12px;
  font-size: 23px;
  font-family: 'Whitney Condensed';
  font-weight: 500;
}
/* line 26, ../sass/_mixins.scss */
body #root #languages li span.highlight, .touch body #root #languages li span:active, .no-touch body #root #languages li span:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 37, ../sass/_nav.scss */
body #root #languages li#cn span {
  padding-top: 9px;
  font-family: 'HanSans';
}
/* line 43, ../sass/_nav.scss */
body #root #languages li.active {
  color: #ffffff;
  pointer-events: none;
}
/* line 47, ../sass/_nav.scss */
body #root #languages li.active span {
  font-weight: 600;
}
/* line 107, ../sass/global.scss */
body #root #close {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999999;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  width: 162px;
  height: 122px;
  background-color: transparent;
  border: none;
  background-image: url("../images/icons/close-white.svg");
  background-repeat: no-repeat;
  background-position: 50px 30px;
  -moz-background-size: 62px 62px;
  -o-background-size: 62px 62px;
  -webkit-background-size: 62px 62px;
  background-size: 62px 62px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  cursor: hand;
  cursor: pointer;
}
/* line 134, ../sass/global.scss */
.content-open body #root #close, .media body #root #close {
  -moz-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  pointer-events: all;
}
/* line 16, ../sass/_mixins.scss */
body #root #close.highlight, .content-open.touch body #root #close:active, .content-open.no-touch body #root #close:hover {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 146, ../sass/global.scss */
.behind-active body #root #close {
  background-image: url("../images/icons/close-blue.svg");
}
/* line 150, ../sass/global.scss */
.media body #root #close {
  background-image: url("../images/icons/close-white.svg");
}
/* line 155, ../sass/global.scss */
body #root #media-overlay {
  display: none;
  position: absolute;
  z-index: 9999998;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
/* line 166, ../sass/global.scss */
body #root #media-overlay video, body #root #media-overlay iframe, body #root #media-overlay img {
  -moz-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  height: 100%;
}
/* line 172, ../sass/global.scss */
.media body #root #media-overlay {
  display: block;
}
/* line 177, ../sass/global.scss */
body #root:after {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 195, ../sass/global.scss */
.content-open.wall-active body #root:after {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 201, ../sass/global.scss */
body #root section {
  -moz-transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-box-shadow: 0 0 10px transparent;
  -webkit-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
  position: relative;
  z-index: 3;
  background-color: #009cde;
  margin: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 203, ../sass/global.scss */
.attract body #root section#wall {
  -moz-animation: fade-outAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-downAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  -webkit-animation: fade-outAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-downAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: fade-outAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-downAlt 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
/* line 209, ../sass/global.scss */
.attract body #root section#behind {
  -moz-animation: fade-out 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-down 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  -webkit-animation: fade-out 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-down 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: fade-out 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite, scale-down 8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
/* line 217, ../sass/global.scss */
.expanding body #root section, .media body #root section {
  pointer-events: none;
}
/* line 229, ../sass/global.scss */
body #root section.highlight {
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
/* line 232, ../sass/global.scss */
body #root section.highlight#wall.subnav-open {
  -moz-box-shadow: 0 0 10px transparent;
  -webkit-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
}
/* line 249, ../sass/global.scss */
body #root section header h1, body #root section header h2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
}
/* line 255, ../sass/global.scss */
body #root section header h1 {
  font-size: 80px;
  line-height: 60px;
}
/* line 69, ../sass/_mixins.scss */
body #root section header h1, body #root section header h1 div {
  font-family: 'Whitney Narrow';
}
/* line 73, ../sass/_mixins.scss */
body #root section header h1 .cn {
  font-family: 'HanSans';
}
/* line 258, ../sass/global.scss */
body #root section header h2 {
  font-size: 30px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 265, ../sass/global.scss */
body #root section header ul {
  text-align: center;
}
/* line 268, ../sass/global.scss */
body #root section header ul li {
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  height: 50px;
  min-width: 300px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  border: 3px solid #ffffff;
  margin-right: 20px;
}
/* line 26, ../sass/_mixins.scss */
body #root section header ul li.highlight, .touch body #root section header ul li:active, .no-touch body #root section header ul li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 272, ../sass/global.scss */
body #root section header ul li.active {
  pointer-events: none;
  background-color: #ffffff;
  color: #009cde;
}
/* line 277, ../sass/global.scss */
body #root section header ul li.active.imposter {
  pointer-events: all;
}
/* line 280, ../sass/global.scss */
.spot-the-imposter body #root section header ul li.active.imposter {
  pointer-events: none;
}
/* line 288, ../sass/global.scss */
body #root section header ul li:last-child {
  margin-right: 0;
}
/* line 293, ../sass/global.scss */
body #root section header ul.nav-collapsed {
  display: none;
}
/* line 296, ../sass/global.scss */
body #root section header ul.nav-collapsed li {
  min-width: inherit;
}
/* line 304, ../sass/global.scss */
body #root section.collapsed .index-column {
  width: 50%;
  float: left;
}
/* line 308, ../sass/global.scss */
body #root section.collapsed .index-column .nav-collapsed {
  padding-left: 50px;
  text-align: left;
}
/* line 315, ../sass/global.scss */
body #root section.collapsed header ul {
  display: none;
}
/* line 318, ../sass/global.scss */
body #root section.collapsed header ul.nav-collapsed {
  display: block;
}
/* line 324, ../sass/global.scss */
body #root section.collapsed header #map .thumbnails {
  display: block;
}
/* line 331, ../sass/global.scss */
body #root section .content {
  display: none;
}
/* line 334, ../sass/global.scss */
body #root section .content .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
  overflow: hidden;
}
/* line 344, ../sass/global.scss */
body #root section .content .container h1 {
  color: #009cde;
  font-size: 80px;
  line-height: 60px;
  line-height: 82px;
}
/* line 69, ../sass/_mixins.scss */
body #root section .content .container h1, body #root section .content .container h1 div {
  font-family: 'Whitney Narrow';
}
/* line 73, ../sass/_mixins.scss */
body #root section .content .container h1 .cn {
  font-family: 'HanSans';
}
/* line 348, ../sass/global.scss */
body #root section .content .container h2 {
  font-weight: 600;
  font-size: 22px;
}
/* line 353, ../sass/global.scss */
body #root section .content .container h1, body #root section .content .container h2 {
  margin-bottom: 30px;
}
/* line 360, ../sass/global.scss */
body #root section.open .content {
  display: none;
}
/* line 365, ../sass/global.scss */
body #root section.open.subnav-open .content {
  display: block;
  -moz-animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 373, ../sass/global.scss */
body #root section .bx-controls .bx-pager {
  width: 1820px;
  bottom: 40px;
  pointer-events: none;
  z-index: 2;
}
/* line 381, ../sass/global.scss */
body #root section .bx-controls .bx-pager div a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.25);
}
/* line 385, ../sass/global.scss */
body #root section .bx-controls .bx-pager div a.active {
  background: rgba(0, 0, 0, 0.75);
}
/* line 393, ../sass/global.scss */
body #root section .carousel-buttons {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}
/* line 405, ../sass/global.scss */
body #root section .carousel-buttons > div a {
  cursor: hand;
  cursor: pointer;
  pointer-events: all;
  margin: 0;
  padding: 0;
  display: table;
  color: #003a70;
  text-decoration: none;
  font-size: 24px;
  height: 88px;
  background-repeat: no-repeat;
  -moz-background-size: 44px 44px;
  -o-background-size: 44px 44px;
  -webkit-background-size: 44px 44px;
  background-size: 44px 44px;
}
/* line 26, ../sass/_mixins.scss */
body #root section .carousel-buttons > div a.highlight, .touch body #root section .carousel-buttons > div a:active, .no-touch body #root section .carousel-buttons > div a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 420, ../sass/global.scss */
body #root section .carousel-buttons > div a div {
  display: table-cell;
  vertical-align: middle;
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 427, ../sass/global.scss */
body #root section .carousel-buttons > div.prev {
  float: left;
}
/* line 430, ../sass/global.scss */
body #root section .carousel-buttons > div.prev a {
  padding-left: 59px;
  padding-right: 25px;
  background-image: url("../images/icons/previous-blue.svg");
  background-position: center left;
}
/* line 437, ../sass/global.scss */
body #root section .carousel-buttons > div.next {
  float: right;
}
/* line 440, ../sass/global.scss */
body #root section .carousel-buttons > div.next a {
  padding-right: 59px;
  padding-left: 25px;
  background-image: url("../images/icons/next-blue.svg");
  background-position: center right;
}
/* line 450, ../sass/global.scss */
body #root section#wall {
  				/*
  				header {
  					h1,
  					nav #map,
  					nav ul {
  						will-change: transform;
  						@include transform(translateZ(0));
  
  						@include transition(
  							transform .5s $easing
  						);
  					}
  				}
  				*/
}
/* line 452, ../sass/global.scss */
body #root section#wall.collapsed .index-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 459, ../sass/global.scss */
body #root section#wall header h1 {
  margin-top: 6px;
}
/* line 464, ../sass/global.scss */
body #root section#wall header h2 {
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 468, ../sass/global.scss */
body #root section#wall header #map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 1700px;
  height: 330px;
  background-image: url("../images/grid.svg");
  background-repeat: no-repeat;
  -moz-background-size: 1700px 330px;
  -o-background-size: 1700px 330px;
  -webkit-background-size: 1700px 330px;
  background-size: 1700px 330px;
}
/* line 483, ../sass/global.scss */
body #root section#wall header #map ul {
  list-style: none;
  position: relative;
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 493, ../sass/global.scss */
.spot-the-imposter body #root section#wall header #map ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 498, ../sass/global.scss */
body #root section#wall header #map ul li {
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -o-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  min-width: inherit;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background-color: #003a70;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
/* line 508, ../sass/global.scss */
body #root section#wall header #map ul li.show {
  pointer-events: all;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  cursor: hand;
  cursor: pointer;
}
/* line 37, ../sass/_mixins.scss */
body #root section#wall header #map ul li.show.highlight, .no-touch body #root section#wall header #map ul li.show:hover {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 526, ../sass/global.scss */
body #root section#wall header #map ul li, body #root section#wall header #map ul li label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
/* line 537, ../sass/global.scss */
body #root section#wall header #map ul li label {
  background-color: #ffffff;
  color: #003a70;
  font-weight: 500;
  line-height: 49px;
  pointer-events: none;
  -moz-animation: fade-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
}
/* line 548, ../sass/global.scss */
body #root section#wall header #map ul li.active {
  pointer-events: none;
}
/* line 551, ../sass/global.scss */
body #root section#wall header #map ul li.active label {
  display: block;
}
/* line 556, ../sass/global.scss */
.behind-active body #root section#wall header #map ul li {
  pointer-events: none;
}
/* line 579, ../sass/global.scss */
.shrink-wall body #root section#wall {
  height: 250px;
}
/* line 580, ../sass/global.scss */
.shrink-wall body #root section#wall header {
  overflow: hidden;
}
/* line 584, ../sass/global.scss */
.shrink-wall body #root section#wall header nav #map {
  -moz-transform: scale(0.52) translateX(-47%) translateY(-75%);
  -ms-transform: scale(0.52) translateX(-47%) translateY(-75%);
  -webkit-transform: scale(0.52) translateX(-47%) translateY(-75%);
  transform: scale(0.52) translateX(-47%) translateY(-75%);
}
/* line 587, ../sass/global.scss */
.shrink-wall body #root section#wall header nav ul {
  -moz-transform: translateY(-535%);
  -ms-transform: translateY(-535%);
  -webkit-transform: translateY(-535%);
  transform: translateY(-535%);
}
/* line 599, ../sass/global.scss */
html[lang="es"].shrink-wall body #root section#wall header h1, html[lang="tl"].shrink-wall body #root section#wall header h1 {
  font-size: 55px;
  line-height: 1;
}
/* line 604, ../sass/global.scss */
html[lang="es"].shrink-wall body #root section#wall header h2, html[lang="tl"].shrink-wall body #root section#wall header h2 {
  line-height: 32px;
}
/* line 610, ../sass/global.scss */
body #root section#wall.open.subnav-open {
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  background-color: transparent;
}
/* line 614, ../sass/global.scss */
body #root section#wall.open.subnav-open header h1 {
  -moz-transform: scale(0.5) translateY(-40%);
  -ms-transform: scale(0.5) translateY(-40%);
  -webkit-transform: scale(0.5) translateY(-40%);
  transform: scale(0.5) translateY(-40%);
  padding: 0;
  text-align: center;
}
/* line 619, ../sass/global.scss */
body #root section#wall.open.subnav-open header h2 {
  display: none;
}
/* line 623, ../sass/global.scss */
body #root section#wall.open.subnav-open header nav #map {
  -moz-transform: scale(0.5) translateY(-95%);
  -ms-transform: scale(0.5) translateY(-95%);
  -webkit-transform: scale(0.5) translateY(-95%);
  transform: scale(0.5) translateY(-95%);
}
/* line 626, ../sass/global.scss */
body #root section#wall.open.subnav-open header nav ul {
  -moz-transform: translateY(-530%);
  -ms-transform: translateY(-530%);
  -webkit-transform: translateY(-530%);
  transform: translateY(-530%);
}
/* line 634, ../sass/global.scss */
body #root section#wall.open.subnav-open .content {
  -moz-transform: translateY(-37%);
  -ms-transform: translateY(-37%);
  -webkit-transform: translateY(-37%);
  transform: translateY(-37%);
}
/* line 639, ../sass/global.scss */
body #root section#wall .content {
  position: absolute;
  width: 1920px;
  left: -50px;
}
/* line 644, ../sass/global.scss */
body #root section#wall .content .carousel-buttons {
  padding: 70px;
  padding-bottom: 5px;
}
/* line 649, ../sass/global.scss */
body #root section#wall .content .bx-wrapper {
  left: 50px;
}
/* line 653, ../sass/global.scss */
body #root section#wall .content .bx-clone {
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 657, ../sass/global.scss */
body #root section#wall .content .container {
  height: 625px;
  padding: 45px;
  position: relative;
}
/* line 662, ../sass/global.scss */
body #root section#wall .content .container .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333%;
  float: left;
}
/* line 667, ../sass/global.scss */
body #root section#wall .content .container .col.description {
  padding-right: 60px;
}
/* line 670, ../sass/global.scss */
body #root section#wall .content .container .col.data {
  padding-left: 60px;
}
/* line 674, ../sass/global.scss */
body #root section#wall .content .container .col > img {
  display: none;
}
/* line 679, ../sass/global.scss */
body #root section#wall .content .container .col .image {
  pointer-events: none;
  display: block;
  position: relative;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 495px;
}
/* line 689, ../sass/global.scss */
body #root section#wall .content .container .col .image img {
  visibility: hidden;
  z-index: 1;
}
/* line 694, ../sass/global.scss */
body #root section#wall .content .container .col .image button {
  pointer-events: all;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("../images/icons/expand.svg");
  background-repeat: no-repeat;
  -moz-background-size: 44px 44px;
  -o-background-size: 44px 44px;
  -webkit-background-size: 44px 44px;
  background-size: 44px 44px;
  background-position: center;
  padding: 10px;
}
/* line 718, ../sass/global.scss */
body #root section#wall .content .container .col.data li {
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}
/* line 724, ../sass/global.scss */
body #root section#wall .content .container .col.data li h3 {
  font-weight: 600;
  color: #003a70;
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 10px;
  margin-bottom: 10px;
}
/* line 731, ../sass/global.scss */
body #root section#wall .content .container .col.data li h3:after {
  content: ':';
}
/* line 740, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.title {
  width: 30%;
}
/* line 743, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.title h1 {
  font-size: 80px;
  line-height: 60px;
  line-height: 82px;
}
/* line 69, ../sass/_mixins.scss */
body #root section#wall .content .container.imposter .col.title h1, body #root section#wall .content .container.imposter .col.title h1 div {
  font-family: 'Whitney Narrow';
}
/* line 73, ../sass/_mixins.scss */
body #root section#wall .content .container.imposter .col.title h1 .cn {
  font-family: 'HanSans';
}
/* line 747, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body {
  width: 60%;
}
/* line 750, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body p {
  font-size: 30px;
  line-height: 22px;
  line-height: 36px;
}
/* line 754, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body ul {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}
/* line 760, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: hand;
  cursor: pointer;
  padding-right: 20px;
  float: left;
  width: 25%;
}
/* line 26, ../sass/_mixins.scss */
body #root section#wall .content .container.imposter .col.body ul li.highlight, .touch body #root section#wall .content .container.imposter .col.body ul li:active, .no-touch body #root section#wall .content .container.imposter .col.body ul li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 767, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body ul li label {
  display: none;
}
/* line 773, ../sass/global.scss */
body #root section#wall .content .container.imposter .col.body .small {
  font-size: 22px;
  text-align: center;
}
/* line 780, ../sass/global.scss */
body #root section#wall .content .container:after {
  pointer-events: none;
  position: absolute;
  content: '';
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 803, ../sass/global.scss */
body #root section#wall .content .inactive-slide {
  pointer-events: none;
}
/* line 806, ../sass/global.scss */
body #root section#wall .content .inactive-slide .container:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 815, ../sass/global.scss */
body #root section#behind {
  overflow: hidden;
}
/* line 820, ../sass/global.scss */
body #root section#behind header nav .thumbnails {
  -moz-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  overflow: hidden;
}
/* line 826, ../sass/global.scss */
body #root section#behind header nav .thumbnails li {
  background-color: #ffffff;
  display: block;
  border: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  width: calc((100% - 250px) / 4);
  height: 420px;
  overflow: hidden;
}
/* line 846, ../sass/global.scss */
body #root section#behind header nav .thumbnails li .img-container {
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 280px;
}
/* line 853, ../sass/global.scss */
body #root section#behind header nav .thumbnails li .img-container img {
  display: none;
}
/* line 858, ../sass/global.scss */
body #root section#behind header nav .thumbnails li h3 {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  width: 75%;
  text-align: left;
  color: #003a70;
  font-size: 30px;
  line-height: 22px;
  line-height: 36px;
  font-weight: 400;
}
/* line 869, ../sass/global.scss */
html[lang="tl"] body #root section#behind header nav .thumbnails li h3 {
  padding-top: 20px;
  font-size: 28px;
  line-height: 32px;
}
/* line 881, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails {
  display: block;
}
/* line 884, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li {
  margin-left: 22px;
  min-width: inherit;
  height: inherit;
  padding: 3px;
  width: 196px;
}
/* line 887, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li:first-child {
  margin-left: 0;
}
/* line 899, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li .img-container {
  width: 190px;
  height: 190px;
}
/* line 904, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li h3 {
  display: none;
}
/* line 909, ../sass/global.scss */
body #root section#behind.collapsed .thumbnails li.stranding-network .img-container {
  background-position: right center;
}
/* line 917, ../sass/global.scss */
body #root section#behind .carousel-buttons {
  padding: 50px;
  padding-bottom: 25px;
}
/* line 923, ../sass/global.scss */
body #root section#behind.open .thumbnails li {
  pointer-events: all;
}
/* line 927, ../sass/global.scss */
body #root section#behind.open.subnav-open {
  position: static;
}
/* line 932, ../sass/global.scss */
.wall-active.content-open body #root section#behind {
  display: none;
}
/* line 936, ../sass/global.scss */
body #root section#behind .content {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 45px;
  bottom: 0;
  right: 0;
  padding-top: 120px;
}
/* line 948, ../sass/global.scss */
body #root section#behind .content .flex-control-paging,
body #root section#behind .content .bx-pager {
  display: none;
}
/* line 953, ../sass/global.scss */
body #root section#behind .content .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 0;
  height: 900px;
}
/* line 959, ../sass/global.scss */
body #root section#behind .content .container .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 964, ../sass/global.scss */
body #root section#behind .content .container .col.info {
  padding-right: 140px;
}
/* line 967, ../sass/global.scss */
body #root section#behind .content .container .col.info h2 {
  color: #325c7c;
  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
  line-height: 36px;
  margin-bottom: 60px;
}
/* line 973, ../sass/global.scss */
body #root section#behind .content .container .col.info p {
  font-weight: 400;
  margin-bottom: 30px;
}
/* line 980, ../sass/global.scss */
body #root section#behind .content .container .col,
body #root section#behind .content .container .col .photocredit,
body #root section#behind .content .container .col .model-button-container,
body #root section#behind .content .container .col button,
body #root section#behind .content .container .col video {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 988, ../sass/global.scss */
body #root section#behind .content .container .col.image {
  height: calc(100% - 100px);
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: visible;
}
/* line 998, ../sass/global.scss */
body #root section#behind .content .container .col.image .photocredit {
  position: absolute;
  bottom: -28px;
}
/* line 1003, ../sass/global.scss */
body #root section#behind .content .container .col.image img {
  display: none;
}
/* line 1007, ../sass/global.scss */
body #root section#behind .content .container .col.image button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 160px;
  height: 160px;
  background-image: url("../images/icons/play.svg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  z-index: 2;
}
/* line 1021, ../sass/global.scss */
body #root section#behind .content .container .col.image.video {
  height: 660px;
  overflow: hidden;
}
/* line 1026, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .caption-container,
body #root section#behind .content .container .col.image.video video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
/* line 1037, ../sass/global.scss */
body #root section#behind .content .container .col.image.video video {
  z-index: 1;
}
/* line 1041, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .caption-container {
  z-index: 2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8));
}
/* line 1046, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .caption-container > div p {
  -moz-animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-shadow: #000000 0 0 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 40px;
  color: #ffffff;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
/* line 1064, ../sass/global.scss */
body #root section#behind .content .container .col.image.video button {
  z-index: 3;
  pointer-events: all;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  cursor: hand;
  cursor: pointer;
}
/* line 26, ../sass/_mixins.scss */
body #root section#behind .content .container .col.image.video button.highlight, .touch body #root section#behind .content .container .col.image.video button:active, .no-touch body #root section#behind .content .container .col.image.video button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 1072, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator {
  z-index: 4;
  position: absolute;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  top: 20px;
  right: 20px;
}
/* line 1080, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
  height: 50px;
}
/* line 1086, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg circle {
  fill: none;
}
/* line 1089, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg circle.progress {
  stroke: #ffffff;
  stroke-width: 6;
}
/* line 1093, ../sass/global.scss */
body #root section#behind .content .container .col.image.video .progress-indicator svg circle.bg {
  stroke: #000000;
  stroke-width: 2;
}
/* line 1101, ../sass/global.scss */
body #root section#behind .content .container .col.image.video video,
body #root section#behind .content .container .col.image.video .caption-container,
body #root section#behind .content .container .col.image.video .progress-indicator {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1108, ../sass/global.scss */
.video-playing body #root section#behind .content .container .col.image.video video,
.video-playing body #root section#behind .content .container .col.image.video .caption-container,
.video-playing body #root section#behind .content .container .col.image.video .progress-indicator,
.video-playing body #root section#behind .content .container .col.image.video button {
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.3s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}
/* line 1117, ../sass/global.scss */
.video-playing body #root section#behind .content .container .col.image.video video,
.video-playing body #root section#behind .content .container .col.image.video .caption-container,
.video-playing body #root section#behind .content .container .col.image.video .progress-indicator {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 1123, ../sass/global.scss */
.video-playing body #root section#behind .content .container .col.image.video button {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1131, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container {
  position: absolute;
  bottom: 150px;
  width: 50%;
}
/* line 1136, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container img, body #root section#behind .content .container .col .model-button-container button {
  float: left;
}
/* line 1140, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container img {
  width: 100px;
  height: 50px;
}
/* line 1145, ../sass/global.scss */
body #root section#behind .content .container .col .model-button-container button {
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  height: 50px;
  min-width: 300px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #003a70;
  border: 3px solid #003a70;
  margin-left: 20px;
}
/* line 26, ../sass/_mixins.scss */
body #root section#behind .content .container .col .model-button-container button.highlight, .touch body #root section#behind .content .container .col .model-button-container button:active, .no-touch body #root section#behind .content .container .col .model-button-container button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 1159, ../sass/global.scss */
body #loading {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 1169, ../sass/global.scss */
body #loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
}
/* line 1180, ../sass/global.scss */
body #root {
  display: none;
}
/* line 1185, ../sass/global.scss */
.loaded body #loading {
  display: none;
}
/* line 1189, ../sass/global.scss */
.loaded body #root {
  display: block;
}
/* line 1195, ../sass/global.scss */
body .en, body .cn, body .tl, body .es {
  display: none !important;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 1202, ../sass/global.scss */
html[lang="en"] body .en {
  display: block !important;
}
/* line 1207, ../sass/global.scss */
html[lang="en"] body .carousel-buttons .en {
  display: table-cell !important;
}
/* line 1202, ../sass/global.scss */
html[lang="cn"] body .cn {
  display: block !important;
}
/* line 1207, ../sass/global.scss */
html[lang="cn"] body .carousel-buttons .cn {
  display: table-cell !important;
}
/* line 1202, ../sass/global.scss */
html[lang="tl"] body .tl {
  display: block !important;
}
/* line 1207, ../sass/global.scss */
html[lang="tl"] body .carousel-buttons .tl {
  display: table-cell !important;
}
/* line 1202, ../sass/global.scss */
html[lang="es"] body .es {
  display: block !important;
}
/* line 1207, ../sass/global.scss */
html[lang="es"] body .carousel-buttons .es {
  display: table-cell !important;
}
